Node-red-server
[{"id":"7ca0d1da.6e666","type":"tab","label":"Saves manager","disabled":false,"info":""},{"id":"c6732a61.80efc8","type":"mqtt in","z":"7ca0d1da.6e666","name":"Température","topic":"homebrewer/temperature","qos":"2","datatype":"auto","broker":"7a8b47fd.1c1698","x":374.611083984375,"y":477.66668701171875,"wires":[["fbd96f46.4525d","d8ca4bca.e755b8","b1949f25.5dbf8","127cee7f.708522"]]},{"id":"fbd96f46.4525d","type":"debug","z":"7ca0d1da.6e666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560.611083984375,"y":560.6666870117188,"wires":[]},{"id":"d8ca4bca.e755b8","type":"ui_gauge","z":"7ca0d1da.6e666","name":"TempC","group":"38d0458f.34811a","order":2,"width":0,"height":0,"gtype":"gage","title":"Température","label":"Degrés *C","format":"{{value}}","min":0,"max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":827.611083984375,"y":486.66668701171875,"wires":[]},{"id":"b1949f25.5dbf8","type":"ui_chart","z":"7ca0d1da.6e666","name":"TempCOverMins","group":"38d0458f.34811a","order":4,"width":0,"height":0,"label":"Température brasse en cours","chartType":"line","legend":"false","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"105","removeOlder":"120","removeOlderPoints":"500","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":856.611083984375,"y":525.6666870117188,"wires":[["d538b5de.9b7f78"]]},{"id":"3e3252af.9b332e","type":"ui_text_input","z":"7ca0d1da.6e666","name":"file name save","label":"Nom du dossier pour la sauvegarde","tooltip":"Will be the name of the file registering the brew","group":"aa08a7da.9d4d38","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"filename","x":1237.388671875,"y":620.666748046875,"wires":[["23678ce3.677194","9e14d801.22d218"]]},{"id":"7274d11.fc6733","type":"change","z":"7ca0d1da.6e666","name":"SetPath","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1791.6942977905273,"y":795.7500457763672,"wires":[["11568785.e76138"]]},{"id":"22179236.e30a6e","type":"debug","z":"7ca0d1da.6e666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1852.527629852295,"y":864.9722518920898,"wires":[]},{"id":"355c44d.c6be2bc","type":"file","z":"7ca0d1da.6e666","name":"Saving Datas","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2131.110855102539,"y":759.4445209503174,"wires":[["5f1159f.3aac1a8","d7286d66.a8574"]]},{"id":"13ebd066.3f41a","type":"file in","z":"7ca0d1da.6e666","name":"","filename":"","format":"utf8","sendError":true,"x":1411.9723472595215,"y":1147.6948719024658,"wires":[["4f46e4d3.ae7afc"]]},{"id":"c0c165a1.3e3238","type":"json","z":"7ca0d1da.6e666","name":"","property":"payload","action":"","pretty":false,"x":1052.361068725586,"y":564.9166927337646,"wires":[["11568785.e76138"]]},{"id":"11568785.e76138","type":"function","z":"7ca0d1da.6e666","name":"","func":"if (msg.topic === \"save\") {\n    msg.payload = context.last;\n    msg.filename = context.get('filename')||\"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/NoFilename\";\n    return msg;\n}\nelse if(msg.topic === \"filename\") {\n    context.set('filename',msg.filename);\n    msg.payload = context.last;\n    msg.filename = context.get('filename')||\"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/NoFilename\";\n    return msg;\n}\nelse{\n    context.last = msg.payload;\n}\nreturn null;","outputs":1,"noerr":0,"x":1973.194393157959,"y":758.7500190734863,"wires":[["355c44d.c6be2bc","61002f8c.5670d","6286ac8f.ad3dc4"]]},{"id":"b58d42c8.8003","type":"inject","z":"7ca0d1da.6e666","name":"regular saves","topic":"save","payload":"","payloadType":"str","repeat":"1800","crontab":"","once":true,"onceDelay":"120","x":1773.1944122314453,"y":759.5000629425049,"wires":[["11568785.e76138"]]},{"id":"61002f8c.5670d","type":"debug","z":"7ca0d1da.6e666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2116.110851287842,"y":721.944525718689,"wires":[]},{"id":"5882b518.c6e14c","type":"template","z":"7ca0d1da.6e666","name":"Path","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/Desktop/Brasserie maison/{{payload}}/BrewDatas","output":"str","x":1590.5832176208496,"y":795.9722347259521,"wires":[["7274d11.fc6733","22179236.e30a6e"]]},{"id":"92538b58.0fc698","type":"ui_toast","z":"7ca0d1da.6e666","position":"bottom left","displayTime":"3","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"Temp graph saved","name":"Saving confirmation","x":2468.8331451416016,"y":759.3333759307861,"wires":[],"icon":"node-red/alert.png"},{"id":"5f1159f.3aac1a8","type":"function","z":"7ca0d1da.6e666","name":"","func":"    msg.payload = msg.filename;\n    return msg;","outputs":1,"noerr":0,"x":2287.3331451416016,"y":759.3333759307861,"wires":[["92538b58.0fc698"]]},{"id":"bfabcfb4.de394","type":"ui_dropdown","z":"7ca0d1da.6e666","name":"data file list","label":"","tooltip":"Files available to read","place":"Afficher les données d'une brasse antérieure","group":"ebba8103.4d5de","order":1,"width":25,"height":1,"passthru":false,"options":[],"payload":"","topic":"","x":904.250129699707,"y":1149.2777423858643,"wires":[["128383b3.e8801c"]],"icon":"font-awesome/fa-file-text-o"},{"id":"4f46e4d3.ae7afc","type":"json","z":"7ca0d1da.6e666","name":"","property":"payload","action":"obj","pretty":false,"x":1564.0555419921875,"y":1153.27783203125,"wires":[["627b9d25.cb20a4","b44d137.42e84f","2d608e91.243b02"]]},{"id":"627b9d25.cb20a4","type":"ui_chart","z":"7ca0d1da.6e666","name":"Brasse antérieure","group":"ebba8103.4d5de","order":3,"width":0,"height":0,"label":"Courbe de température brasse sauvegardée","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"105","removeOlder":"21","removeOlderPoints":"10000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1881.1112060546875,"y":1199.916748046875,"wires":[[]]},{"id":"127cee7f.708522","type":"ui_chart","z":"7ca0d1da.6e666","name":"TempCOverDays","group":"aa08a7da.9d4d38","order":3,"width":0,"height":0,"label":"Courbe de température brasse en cours","chartType":"line","legend":"false","xformat":"auto","interpolate":"step","nodata":"No data","dot":false,"ymin":"0","ymax":"105","removeOlder":"30","removeOlderPoints":"10000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":854.0000152587891,"y":566.0000076293945,"wires":[["c0c165a1.3e3238","7b0365b5.ae028c"]]},{"id":"a7e8a7a8.fb4b48","type":"link in","z":"7ca0d1da.6e666","name":"Params","links":["e0c540b5.694eb"],"x":1883.6112537384033,"y":471.5278486675686,"wires":[["ac75ba1a.4b5538","6e562e25.30e64","1fe43ba2.ce6114"]]},{"id":"32fca8ec.6fdbe8","type":"template","z":"7ca0d1da.6e666","name":"Path","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/Desktop/Brasserie maison/{{payload}}/BrewParams","output":"str","x":1598.7501106262207,"y":511.11107773251,"wires":[["93fad40e.4928b8"]]},{"id":"93fad40e.4928b8","type":"change","z":"7ca0d1da.6e666","name":"SetPath","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1803.7501831054688,"y":512.3612007564968,"wires":[["ac75ba1a.4b5538"]]},{"id":"3374db25.b279e4","type":"file","z":"7ca0d1da.6e666","name":"Saving params","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2109.0278968811035,"y":512.5000090069241,"wires":[["6ead4ec4.a871d"]]},{"id":"ac75ba1a.4b5538","type":"function","z":"7ca0d1da.6e666","name":"","func":"if (msg.topic === \"save\") {\n    msg.payload = context.last;\n    msg.filename = context.get('filename')||\"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/NoFilename\";\n    return msg;\n}\nelse if(msg.topic === \"filename\") {\n    context.set('filename',msg.filename);\n    msg.payload = context.last;\n    msg.filename = context.get('filename')||\"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/NoFilename\";\n    return msg;\n}\nelse if(msg.topic ===\"save_params\"){\n    context.last = msg.payload;\n    msg.filename = context.get('filename')||\"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/NoFilename\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":1963.19478225708,"y":511.47221607632105,"wires":[["3374db25.b279e4"]]},{"id":"a9f5ee6e.3f8c","type":"inject","z":"7ca0d1da.6e666","name":"regular saves","topic":"save","payload":"","payloadType":"str","repeat":"900","crontab":"","once":true,"onceDelay":"1","x":1784.028018951416,"y":556.0277809566921,"wires":[["ac75ba1a.4b5538"]]},{"id":"a5532942.01ac88","type":"ui_toast","z":"7ca0d1da.6e666","position":"bottom left","displayTime":"3","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"Params saved","name":"Saving confirmation","x":2453.6946144104004,"y":512.249954647488,"wires":[],"icon":"node-red/alert.png"},{"id":"6ead4ec4.a871d","type":"function","z":"7ca0d1da.6e666","name":"","func":"    msg.payload = msg.filename;\n    return msg;","outputs":1,"noerr":0,"x":2264.4170989990234,"y":512.2499470180935,"wires":[["a5532942.01ac88"]]},{"id":"128383b3.e8801c","type":"template","z":"7ca0d1da.6e666","name":"Path","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/Desktop/Brasserie maison/{{payload}}/BrewDatas","output":"str","x":1093.1947288513184,"y":1151.2501697540283,"wires":[["861d2a5.c20e7d8"]]},{"id":"73f45420.415a9c","type":"watch","z":"7ca0d1da.6e666","name":"ChecknUpdateDir","files":"/home/pi/Desktop/Brasserie maison","recursive":true,"x":445.97222900390625,"y":996.2500762939453,"wires":[["dbb5e625.0e8cf8"]]},{"id":"a5a06d41.84a5","type":"inject","z":"7ca0d1da.6e666","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":true,"onceDelay":"2","x":487.777774810791,"y":958.8889312744141,"wires":[["dbb5e625.0e8cf8"]]},{"id":"6e562e25.30e64","type":"debug","z":"7ca0d1da.6e666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2087.500160217285,"y":472.6389865875244,"wires":[]},{"id":"8ddcfe8c.c7d31","type":"link out","z":"7ca0d1da.6e666","name":"Filename","links":["69182b15.bbfc84"],"x":1569.750244140625,"y":633.5277709960938,"wires":[]},{"id":"dbb5e625.0e8cf8","type":"fs-ops-dir","z":"7ca0d1da.6e666","name":"","path":"/home/pi/Desktop/Brasserie maison","pathType":"str","filter":"*","filterType":"str","dir":"options","dirType":"msg","x":671.8055877685547,"y":990.6945381164551,"wires":[["bfabcfb4.de394","b673ae24.24702"]]},{"id":"11c92ad6.372ac5","type":"file in","z":"7ca0d1da.6e666","name":"","filename":"","format":"utf8","sendError":true,"x":1457.222225189209,"y":1298.1944999694824,"wires":[["7d693afb.1cfaf4"]]},{"id":"b657a6f8.9fc6b8","type":"change","z":"7ca0d1da.6e666","name":"SetFilename","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1284.666748046875,"y":1296.8609619140625,"wires":[["11c92ad6.372ac5"]]},{"id":"b673ae24.24702","type":"ui_dropdown","z":"7ca0d1da.6e666","name":"params file list","label":"","tooltip":"Files available to read","place":"Afficher les parametres d'une brasse antérieure","group":"81cf772d.ff1cc8","order":20,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":914.500072479248,"y":1298.527744293213,"wires":[["5417c73e.c65518"]],"icon":"font-awesome/fa-file-text-o"},{"id":"7d693afb.1cfaf4","type":"json","z":"7ca0d1da.6e666","name":"","property":"payload","action":"","pretty":false,"x":1577.555477142334,"y":1298.52787399292,"wires":[["6350e5f.919951c","856d6d40.fa8d4"]]},{"id":"5417c73e.c65518","type":"template","z":"7ca0d1da.6e666","name":"Path","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/Desktop/Brasserie maison/{{payload}}/BrewParams","output":"str","x":1113.4444732666016,"y":1296.7499599456787,"wires":[["b657a6f8.9fc6b8"]]},{"id":"6350e5f.919951c","type":"debug","z":"7ca0d1da.6e666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1714.4444732666016,"y":1368.1944932937622,"wires":[]},{"id":"23678ce3.677194","type":"function","z":"7ca0d1da.6e666","name":"","func":"if (msg.payload === null) {\n    if(context.last === null){\n        return null;\n    }\n    else{\n    msg.payload = context.last;\n    return msg;\n    }\n}\nelse{\n    context.last = msg.payload;\n    return msg;\n}","outputs":1,"noerr":0,"x":1434.4443664550781,"y":623.333270072937,"wires":[["5882b518.c6e14c","8ddcfe8c.c7d31","32fca8ec.6fdbe8"]]},{"id":"856d6d40.fa8d4","type":"link out","z":"7ca0d1da.6e666","name":"OldParams","links":["8152f5d.3726808"],"x":1729.4443321228027,"y":1299.3056526184082,"wires":[]},{"id":"b44d137.42e84f","type":"debug","z":"7ca0d1da.6e666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1733.7501831054688,"y":1246.2502422332764,"wires":[]},{"id":"d7286d66.a8574","type":"json","z":"7ca0d1da.6e666","name":"","property":"payload","action":"obj","pretty":false,"x":1581.250072479248,"y":1033.750147819519,"wires":[["8746511f.746c8"]]},{"id":"8746511f.746c8","type":"function","z":"7ca0d1da.6e666","name":"","func":"msg.new_data = true;\nreturn msg;","outputs":1,"noerr":0,"x":1849.6049842834473,"y":1030.0133113861084,"wires":[["122c38f1.8a7d77"]]},{"id":"ed24083f.6fe878","type":"function","z":"7ca0d1da.6e666","name":"","func":"msg.old_data = true;\nreturn msg;","outputs":1,"noerr":0,"x":1852.3828620910645,"y":1105.0132570266724,"wires":[["122c38f1.8a7d77"]]},{"id":"122c38f1.8a7d77","type":"function","z":"7ca0d1da.6e666","name":"Merge two graphs","func":"if(msg.old_data ===true){\n    context.set(\"old_data\",msg);\n}\nelse if(msg.new_data===true){\n    context.set(\"new_data\",msg);\n}\nvar old_data = context.get(\"old_data\")||null;\nvar new_data = context.get(\"new_data\")||null;\n\nif(new_data && old_data){\n    var m={};\n    m.labels = [\"homebrewer/temperature\"];\n    m.series = ['homebrewer/temperature2'];\n    m.data = [\n        old_data.payload[0].data[0].concat(new_data.payload[0].data[0])\n      ];\n    return {payload:[m]};\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":2030.5556526184082,"y":1063.3335590362549,"wires":[["127cee7f.708522"]]},{"id":"77644911.60a868","type":"ui_button","z":"7ca0d1da.6e666","name":"","group":"ebba8103.4d5de","order":5,"width":0,"height":0,"passthru":false,"label":"Fusionner les données dans le dossier en cours","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"readwrite","x":1377.35498046875,"y":1086.7630615234375,"wires":[["2d608e91.243b02"]]},{"id":"2d608e91.243b02","type":"function","z":"7ca0d1da.6e666","name":"Confirm","func":"if (msg.payload === true) {\n    msg.payload = context.last;\n    return msg;\n}\nelse{\n    context.last = msg.payload;\n}\nreturn null;","outputs":1,"noerr":0,"x":1710.8548583984375,"y":1122.5131998062134,"wires":[["ed24083f.6fe878"]]},{"id":"861d2a5.c20e7d8","type":"change","z":"7ca0d1da.6e666","name":"SetFilename","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1251.8273963928223,"y":1152.513258934021,"wires":[["13ebd066.3f41a"]]},{"id":"6286ac8f.ad3dc4","type":"ui_text","z":"7ca0d1da.6e666","group":"aa08a7da.9d4d38","order":4,"width":0,"height":0,"name":"show filename","label":"Enregistrement sur: ","format":"{{msg.filename}}","layout":"row-spread","x":2144.458465576172,"y":685.0139193534851,"wires":[]},{"id":"d538b5de.9b7f78","type":"persist in","z":"7ca0d1da.6e666","name":"Brewing","storageNode":"685af69d.fef408","x":1130.5,"y":402,"wires":[]},{"id":"74af0241.e72a9c","type":"persist out","z":"7ca0d1da.6e666","name":"Data","storageNode":"92724f8a.aae94","x":590.5,"y":269,"wires":[["127cee7f.708522"]]},{"id":"7b0365b5.ae028c","type":"persist in","z":"7ca0d1da.6e666","name":"Data","storageNode":"92724f8a.aae94","x":1120,"y":448,"wires":[]},{"id":"cc1ded87.96fd8","type":"persist out","z":"7ca0d1da.6e666","name":"Brewing","storageNode":"685af69d.fef408","x":600,"y":232,"wires":[["b1949f25.5dbf8"]]},{"id":"cf7342f1.0bafb","type":"ui_button","z":"7ca0d1da.6e666","name":"","group":"e1a1a985.287088","order":0,"width":0,"height":0,"passthru":true,"label":"Recover","tooltip":"Will recover data from persistence","color":"red","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":392.5,"y":212,"wires":[["cc1ded87.96fd8","74af0241.e72a9c","acf9625a.6688a"]]},{"id":"5107a6a5.8108f8","type":"inject","z":"7ca0d1da.6e666","name":"Launch reboot data recovery","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"5","x":192,"y":136,"wires":[["cf7342f1.0bafb"]]},{"id":"9e14d801.22d218","type":"persist in","z":"7ca0d1da.6e666","name":"File name","storageNode":"92724f8a.aae94","x":1383,"y":429,"wires":[]},{"id":"1fe43ba2.ce6114","type":"persist in","z":"7ca0d1da.6e666","name":"Brew parameters","storageNode":"92724f8a.aae94","x":2061,"y":390,"wires":[]},{"id":"acf9625a.6688a","type":"persist out","z":"7ca0d1da.6e666","name":"Brew parameters","storageNode":"92724f8a.aae94","x":635,"y":342,"wires":[["856d6d40.fa8d4"]]},{"id":"a65b982a.e6d548","type":"inject","z":"7ca0d1da.6e666","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":true,"onceDelay":"5","x":803.2222900390625,"y":771.1943969726562,"wires":[["bae65760.ce6a78"]]},{"id":"bae65760.ce6a78","type":"persist out","z":"7ca0d1da.6e666","name":"File name","storageNode":"92724f8a.aae94","x":1036,"y":748,"wires":[["3e3252af.9b332e"]]},{"id":"7a8b47fd.1c1698","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"Rpi_CP","usetls":false,"compatmode":true,"keepalive":"300","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"38d0458f.34811a","type":"ui_group","z":"","name":"Température","tab":"c465308c.91a7f","order":1,"disp":true,"width":10,"collapse":false},{"id":"aa08a7da.9d4d38","type":"ui_group","z":"","name":"Enregistrement en cours","tab":"ce073865.965f28","order":1,"disp":true,"width":"25","collapse":false},{"id":"ebba8103.4d5de","type":"ui_group","z":"","name":"Brasses antérieures","tab":"ce073865.965f28","order":2,"disp":true,"width":"25","collapse":true},{"id":"81cf772d.ff1cc8","type":"ui_group","z":"","name":"Paramètres","tab":"c465308c.91a7f","order":2,"disp":true,"width":10,"collapse":true},{"id":"685af69d.fef408","type":"persist-store","z":"","filename":"persistance-brewing.json","interval":"500"},{"id":"92724f8a.aae94","type":"persist-store","z":"","filename":"persistance-data.json","interval":"500"},{"id":"e1a1a985.287088","type":"ui_group","z":"","name":"Recover last data","tab":"9e8a16c9.a71b88","order":2,"disp":true,"width":"6","collapse":false},{"id":"c465308c.91a7f","type":"ui_tab","z":"","name":"Brassage","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ce073865.965f28","type":"ui_tab","z":"","name":"Données de brassage","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"9e8a16c9.a71b88","type":"ui_tab","z":"","name":"Recovery","icon":"dashboard","disabled":false,"hidden":false}]
