Node-red-server
[{"id":"7897716c.fd7b6","type":"tab","label":"Saves manager","disabled":false,"info":""},{"id":"146a6a38.402536","type":"mqtt in","z":"7897716c.fd7b6","name":"Température","topic":"homebrewer/temperature","qos":"2","datatype":"auto","broker":"1a1dd707.a092d9","x":374.611083984375,"y":477.66668701171875,"wires":[["33916cfa.b1c0b4","78838ff7.680f3","4f001684.cd3b48","8925a81c.844b78"]]},{"id":"33916cfa.b1c0b4","type":"debug","z":"7897716c.fd7b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560.611083984375,"y":560.6666870117188,"wires":[]},{"id":"78838ff7.680f3","type":"ui_gauge","z":"7897716c.fd7b6","name":"TempC","group":"7023c66a.6408e8","order":2,"width":0,"height":0,"gtype":"gage","title":"Température","label":"Degrés *C","format":"{{value}}","min":0,"max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":827.611083984375,"y":486.66668701171875,"wires":[]},{"id":"4f001684.cd3b48","type":"ui_chart","z":"7897716c.fd7b6","name":"TempCOverMins","group":"7023c66a.6408e8","order":4,"width":0,"height":0,"label":"Température brasse en cours","chartType":"line","legend":"false","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"105","removeOlder":"120","removeOlderPoints":"500","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":856.611083984375,"y":525.6666870117188,"wires":[["f880e22c.40db7"]]},{"id":"c3084e96.ecabd","type":"ui_text_input","z":"7897716c.fd7b6","name":"file name save","label":"Nom du dossier pour la sauvegarde","tooltip":"Will be the name of the file registering the brew","group":"a4b7eb57.6ac588","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"filename","x":1237.388671875,"y":620.666748046875,"wires":[["9640c5db.951348","4390827c.d984fc"]]},{"id":"6bfba9bb.257448","type":"change","z":"7897716c.fd7b6","name":"SetPath","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1791.6942977905273,"y":795.7500457763672,"wires":[["7bec83c.c8b737c"]]},{"id":"22991aab.21daf6","type":"debug","z":"7897716c.fd7b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1852.527629852295,"y":864.9722518920898,"wires":[]},{"id":"3fa026e5.b6448a","type":"file","z":"7897716c.fd7b6","name":"Saving Datas","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2131.110855102539,"y":759.4445209503174,"wires":[["fa9186fe.05b468","ef6b3086.b0a22"]]},{"id":"9c40767e.d4e2d8","type":"file in","z":"7897716c.fd7b6","name":"","filename":"","format":"utf8","sendError":true,"x":1411.9723472595215,"y":1147.6948719024658,"wires":[["e02065e3.800438"]]},{"id":"2b543f12.3d287","type":"json","z":"7897716c.fd7b6","name":"","property":"payload","action":"","pretty":false,"x":1052.361068725586,"y":564.9166927337646,"wires":[["7bec83c.c8b737c"]]},{"id":"7bec83c.c8b737c","type":"function","z":"7897716c.fd7b6","name":"","func":"if (msg.topic === \"save\") {\n    msg.payload = context.last;\n    msg.filename = context.get('filename')||\"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/NoFilename\";\n    return msg;\n}\nelse if(msg.topic === \"filename\") {\n    context.set('filename',msg.filename);\n    msg.payload = context.last;\n    msg.filename = context.get('filename')||\"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/NoFilename\";\n    return msg;\n}\nelse{\n    context.last = msg.payload;\n}\nreturn null;","outputs":1,"noerr":0,"x":1973.194393157959,"y":758.7500190734863,"wires":[["3fa026e5.b6448a","421146cc.1d3e38","2dd9f4e6.18052c"]]},{"id":"e27e5d68.92c2a","type":"inject","z":"7897716c.fd7b6","name":"regular saves","topic":"save","payload":"","payloadType":"str","repeat":"1800","crontab":"","once":true,"onceDelay":"120","x":1773.1944122314453,"y":759.5000629425049,"wires":[["7bec83c.c8b737c"]]},{"id":"421146cc.1d3e38","type":"debug","z":"7897716c.fd7b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2116.110851287842,"y":721.944525718689,"wires":[]},{"id":"6a5a75a1.e4b7bc","type":"template","z":"7897716c.fd7b6","name":"Path","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/{{payload}}/BrewDatas","output":"str","x":1590.5832176208496,"y":795.9722347259521,"wires":[["6bfba9bb.257448","22991aab.21daf6"]]},{"id":"a7df3554.02a9f8","type":"ui_toast","z":"7897716c.fd7b6","position":"bottom left","displayTime":"3","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"Temp graph saved","name":"Saving confirmation","x":2468.8331451416016,"y":759.3333759307861,"wires":[],"icon":"node-red/alert.png"},{"id":"fa9186fe.05b468","type":"function","z":"7897716c.fd7b6","name":"","func":"    msg.payload = msg.filename;\n    return msg;","outputs":1,"noerr":0,"x":2287.3331451416016,"y":759.3333759307861,"wires":[["a7df3554.02a9f8"]]},{"id":"e376b005.7d0e7","type":"ui_dropdown","z":"7897716c.fd7b6","name":"data file list","label":"","tooltip":"Files available to read","place":"Afficher les données d'une brasse antérieure","group":"86a21b87.249798","order":1,"width":25,"height":1,"passthru":false,"options":[],"payload":"","topic":"","x":904.250129699707,"y":1149.2777423858643,"wires":[["dc271309.465d7"]],"icon":"font-awesome/fa-file-text-o"},{"id":"e02065e3.800438","type":"json","z":"7897716c.fd7b6","name":"","property":"payload","action":"obj","pretty":false,"x":1564.0555419921875,"y":1153.27783203125,"wires":[["fd9985c.dd1c978","622651e8.d3cc7","2179abec.9f78e4"]]},{"id":"fd9985c.dd1c978","type":"ui_chart","z":"7897716c.fd7b6","name":"Brasse antérieure","group":"86a21b87.249798","order":3,"width":0,"height":0,"label":"Courbe de température brasse sauvegardée","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"105","removeOlder":"21","removeOlderPoints":"10000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1881.1112060546875,"y":1199.916748046875,"wires":[[]]},{"id":"8925a81c.844b78","type":"ui_chart","z":"7897716c.fd7b6","name":"TempCOverDays","group":"a4b7eb57.6ac588","order":3,"width":0,"height":0,"label":"Courbe de température brasse en cours","chartType":"line","legend":"false","xformat":"auto","interpolate":"step","nodata":"No data","dot":false,"ymin":"0","ymax":"105","removeOlder":"30","removeOlderPoints":"10000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":854.0000152587891,"y":566.0000076293945,"wires":[["2b543f12.3d287","56d5eef1.65e32"]]},{"id":"efbebb8.6bfa148","type":"link in","z":"7897716c.fd7b6","name":"Params","links":["24de0305.330afc"],"x":1883.6112537384033,"y":471.5278486675686,"wires":[["a758737f.b8c57","9e9de0eb.68b3b","cb287ea4.ff3ef"]]},{"id":"a50eef61.4687e","type":"template","z":"7897716c.fd7b6","name":"Path","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/{{payload}}/BrewParams","output":"str","x":1598.7501106262207,"y":511.11107773251,"wires":[["8ab4f56.09c9308"]]},{"id":"8ab4f56.09c9308","type":"change","z":"7897716c.fd7b6","name":"SetPath","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1803.7501831054688,"y":512.3612007564968,"wires":[["a758737f.b8c57"]]},{"id":"fa70e90c.896448","type":"file","z":"7897716c.fd7b6","name":"Saving params","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2109.0278968811035,"y":512.5000090069241,"wires":[["5f84de57.e3f44"]]},{"id":"a758737f.b8c57","type":"function","z":"7897716c.fd7b6","name":"","func":"if (msg.topic === \"save\") {\n    msg.payload = context.last;\n    msg.filename = context.get('filename')||\"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/NoFilename\";\n    return msg;\n}\nelse if(msg.topic === \"filename\") {\n    context.set('filename',msg.filename);\n    msg.payload = context.last;\n    msg.filename = context.get('filename')||\"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/NoFilename\";\n    return msg;\n}\nelse if(msg.topic ===\"save_params\"){\n    context.last = msg.payload;\n    msg.filename = context.get('filename')||\"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/NoFilename\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":1963.19478225708,"y":511.47221607632105,"wires":[["fa70e90c.896448"]]},{"id":"f63fed56.38734","type":"inject","z":"7897716c.fd7b6","name":"regular saves","topic":"save","payload":"","payloadType":"str","repeat":"900","crontab":"","once":true,"onceDelay":"1","x":1784.028018951416,"y":556.0277809566921,"wires":[["a758737f.b8c57"]]},{"id":"821ab5a7.77eb48","type":"ui_toast","z":"7897716c.fd7b6","position":"bottom left","displayTime":"3","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"Params saved","name":"Saving confirmation","x":2453.6946144104004,"y":512.249954647488,"wires":[],"icon":"node-red/alert.png"},{"id":"5f84de57.e3f44","type":"function","z":"7897716c.fd7b6","name":"","func":"    msg.payload = msg.filename;\n    return msg;","outputs":1,"noerr":0,"x":2264.4170989990234,"y":512.2499470180935,"wires":[["821ab5a7.77eb48"]]},{"id":"dc271309.465d7","type":"template","z":"7897716c.fd7b6","name":"Path","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/{{payload}}/BrewDatas","output":"str","x":1093.1947288513184,"y":1151.2501697540283,"wires":[["1046d5bf.e4112a"]]},{"id":"5638f4f9.23139c","type":"watch","z":"7897716c.fd7b6","name":"ChecknUpdateDir","files":"C:\\\\Users\\Utilisateur/OneDrive - USherbrooke\\Projets\\Brasserie maison","recursive":true,"x":445.97222900390625,"y":996.2500762939453,"wires":[["92e8fad1.e1ed18"]]},{"id":"bb139e8f.4f3ba","type":"inject","z":"7897716c.fd7b6","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":true,"onceDelay":"2","x":487.777774810791,"y":958.8889312744141,"wires":[["92e8fad1.e1ed18"]]},{"id":"9e9de0eb.68b3b","type":"debug","z":"7897716c.fd7b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2087.500160217285,"y":472.6389865875244,"wires":[]},{"id":"2bcdd23b.89673e","type":"link out","z":"7897716c.fd7b6","name":"Filename","links":["9a810ce3.00f3a"],"x":1569.750244140625,"y":633.5277709960938,"wires":[]},{"id":"92e8fad1.e1ed18","type":"fs-ops-dir","z":"7897716c.fd7b6","name":"","path":"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison","pathType":"str","filter":"*","filterType":"str","dir":"options","dirType":"msg","x":671.8055877685547,"y":990.6945381164551,"wires":[["e376b005.7d0e7","ea425450.1fc688"]]},{"id":"4734214d.8597f","type":"file in","z":"7897716c.fd7b6","name":"","filename":"","format":"utf8","sendError":true,"x":1457.222225189209,"y":1298.1944999694824,"wires":[["f38d8ed3.35222"]]},{"id":"8573106a.01a02","type":"change","z":"7897716c.fd7b6","name":"SetFilename","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1284.666748046875,"y":1296.8609619140625,"wires":[["4734214d.8597f"]]},{"id":"ea425450.1fc688","type":"ui_dropdown","z":"7897716c.fd7b6","name":"params file list","label":"","tooltip":"Files available to read","place":"Afficher les parametres d'une brasse antérieure","group":"bccf6da2.b75e7","order":20,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":914.500072479248,"y":1298.527744293213,"wires":[["95c948e2.2d1ac8"]],"icon":"font-awesome/fa-file-text-o"},{"id":"f38d8ed3.35222","type":"json","z":"7897716c.fd7b6","name":"","property":"payload","action":"","pretty":false,"x":1577.555477142334,"y":1298.52787399292,"wires":[["35c559.817a4aa8","8f7077bb.cb8078"]]},{"id":"95c948e2.2d1ac8","type":"template","z":"7897716c.fd7b6","name":"Path","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"C:/Users/Utilisateur/OneDrive - USherbrooke/Projets/Brasserie maison/{{payload}}/BrewParams","output":"str","x":1113.4444732666016,"y":1296.7499599456787,"wires":[["8573106a.01a02"]]},{"id":"35c559.817a4aa8","type":"debug","z":"7897716c.fd7b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1714.4444732666016,"y":1368.1944932937622,"wires":[]},{"id":"9640c5db.951348","type":"function","z":"7897716c.fd7b6","name":"","func":"if (msg.payload === null) {\n    if(context.last === null){\n        return null;\n    }\n    else{\n    msg.payload = context.last;\n    return msg;\n    }\n}\nelse{\n    context.last = msg.payload;\n    return msg;\n}","outputs":1,"noerr":0,"x":1434.4443664550781,"y":623.333270072937,"wires":[["6a5a75a1.e4b7bc","2bcdd23b.89673e","a50eef61.4687e"]]},{"id":"8f7077bb.cb8078","type":"link out","z":"7897716c.fd7b6","name":"OldParams","links":["3f4a745.0953d8c"],"x":1729.4443321228027,"y":1299.3056526184082,"wires":[]},{"id":"622651e8.d3cc7","type":"debug","z":"7897716c.fd7b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1733.7501831054688,"y":1246.2502422332764,"wires":[]},{"id":"ef6b3086.b0a22","type":"json","z":"7897716c.fd7b6","name":"","property":"payload","action":"obj","pretty":false,"x":1581.250072479248,"y":1033.750147819519,"wires":[["a25661d2.31836"]]},{"id":"a25661d2.31836","type":"function","z":"7897716c.fd7b6","name":"","func":"msg.new_data = true;\nreturn msg;","outputs":1,"noerr":0,"x":1849.6049842834473,"y":1030.0133113861084,"wires":[["54aeec34.3e0724"]]},{"id":"ef31f062.29dc3","type":"function","z":"7897716c.fd7b6","name":"","func":"msg.old_data = true;\nreturn msg;","outputs":1,"noerr":0,"x":1852.3828620910645,"y":1105.0132570266724,"wires":[["54aeec34.3e0724"]]},{"id":"54aeec34.3e0724","type":"function","z":"7897716c.fd7b6","name":"Merge two graphs","func":"if(msg.old_data ===true){\n    context.set(\"old_data\",msg);\n}\nelse if(msg.new_data===true){\n    context.set(\"new_data\",msg);\n}\nvar old_data = context.get(\"old_data\")||null;\nvar new_data = context.get(\"new_data\")||null;\n\nif(new_data && old_data){\n    var m={};\n    m.labels = [\"homebrewer/temperature\"];\n    m.series = ['homebrewer/temperature2'];\n    m.data = [\n        old_data.payload[0].data[0].concat(new_data.payload[0].data[0])\n      ];\n    return {payload:[m]};\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":2030.5556526184082,"y":1063.3335590362549,"wires":[["8925a81c.844b78"]]},{"id":"8e2f6d8c.78fc1","type":"ui_button","z":"7897716c.fd7b6","name":"","group":"86a21b87.249798","order":5,"width":0,"height":0,"passthru":false,"label":"Fusionner les données dans le dossier en cours","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"readwrite","x":1377.35498046875,"y":1086.7630615234375,"wires":[["2179abec.9f78e4"]]},{"id":"2179abec.9f78e4","type":"function","z":"7897716c.fd7b6","name":"Confirm","func":"if (msg.payload === true) {\n    msg.payload = context.last;\n    return msg;\n}\nelse{\n    context.last = msg.payload;\n}\nreturn null;","outputs":1,"noerr":0,"x":1710.8548583984375,"y":1122.5131998062134,"wires":[["ef31f062.29dc3"]]},{"id":"1046d5bf.e4112a","type":"change","z":"7897716c.fd7b6","name":"SetFilename","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1251.8273963928223,"y":1152.513258934021,"wires":[["9c40767e.d4e2d8"]]},{"id":"2dd9f4e6.18052c","type":"ui_text","z":"7897716c.fd7b6","group":"a4b7eb57.6ac588","order":4,"width":0,"height":0,"name":"show filename","label":"Enregistrement sur: ","format":"{{msg.filename}}","layout":"row-spread","x":2144.458465576172,"y":685.0139193534851,"wires":[]},{"id":"f880e22c.40db7","type":"persist in","z":"7897716c.fd7b6","name":"Brewing","storageNode":"8f6156e2.581f08","x":1130.5,"y":402,"wires":[]},{"id":"2f7eec6b.a91524","type":"persist out","z":"7897716c.fd7b6","name":"Data","storageNode":"b5b6dc07.fc09b","x":590.5,"y":269,"wires":[["8925a81c.844b78"]]},{"id":"56d5eef1.65e32","type":"persist in","z":"7897716c.fd7b6","name":"Data","storageNode":"b5b6dc07.fc09b","x":1120,"y":448,"wires":[]},{"id":"40f8ee18.e3a6d","type":"persist out","z":"7897716c.fd7b6","name":"Brewing","storageNode":"8f6156e2.581f08","x":600,"y":232,"wires":[["4f001684.cd3b48"]]},{"id":"6c573629.5f49f8","type":"ui_button","z":"7897716c.fd7b6","name":"","group":"4b65b7ef.fb6e88","order":0,"width":0,"height":0,"passthru":true,"label":"Recover","tooltip":"Will recover data from persistence","color":"red","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":392.5,"y":212,"wires":[["40f8ee18.e3a6d","2f7eec6b.a91524","7ef658b8.70fea8"]]},{"id":"8f5eda19.d93808","type":"inject","z":"7897716c.fd7b6","name":"Launch reboot data recovery","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"5","x":192,"y":136,"wires":[["6c573629.5f49f8"]]},{"id":"4390827c.d984fc","type":"persist in","z":"7897716c.fd7b6","name":"File name","storageNode":"b5b6dc07.fc09b","x":1383,"y":429,"wires":[]},{"id":"cb287ea4.ff3ef","type":"persist in","z":"7897716c.fd7b6","name":"Brew parameters","storageNode":"b5b6dc07.fc09b","x":2061,"y":390,"wires":[]},{"id":"7ef658b8.70fea8","type":"persist out","z":"7897716c.fd7b6","name":"Brew parameters","storageNode":"b5b6dc07.fc09b","x":635,"y":342,"wires":[["8f7077bb.cb8078"]]},{"id":"770de96a.ea90c8","type":"inject","z":"7897716c.fd7b6","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":true,"onceDelay":"5","x":803.2222900390625,"y":771.1943969726562,"wires":[["70566647.49d218"]]},{"id":"70566647.49d218","type":"persist out","z":"7897716c.fd7b6","name":"File name","storageNode":"b5b6dc07.fc09b","x":1036,"y":748,"wires":[["c3084e96.ecabd"]]},{"id":"1a1dd707.a092d9","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"Ordinateur_CD","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7023c66a.6408e8","type":"ui_group","z":"","name":"Température","tab":"17db60d1.e6b9cf","order":1,"disp":true,"width":10,"collapse":false},{"id":"a4b7eb57.6ac588","type":"ui_group","z":"","name":"Enregistrement en cours","tab":"ab43909d.b6a62","order":1,"disp":true,"width":"25","collapse":false},{"id":"86a21b87.249798","type":"ui_group","z":"","name":"Brasses antérieures","tab":"ab43909d.b6a62","order":2,"disp":true,"width":"25","collapse":true},{"id":"bccf6da2.b75e7","type":"ui_group","z":"","name":"Paramètres","tab":"17db60d1.e6b9cf","order":2,"disp":true,"width":10,"collapse":true},{"id":"8f6156e2.581f08","type":"persist-store","z":"","filename":"persistance-brewing.json","interval":"500"},{"id":"b5b6dc07.fc09b","type":"persist-store","z":"","filename":"persistance-data.json","interval":"500"},{"id":"4b65b7ef.fb6e88","type":"ui_group","z":"","name":"Recover last data","tab":"1b1880bb.1ba11f","order":2,"disp":true,"width":"6","collapse":false},{"id":"17db60d1.e6b9cf","type":"ui_tab","z":"","name":"Brassage","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ab43909d.b6a62","type":"ui_tab","z":"","name":"Données de brassage","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1b1880bb.1ba11f","type":"ui_tab","z":"","name":"Recovery","icon":"dashboard","disabled":false,"hidden":false}]
